* {
    margin: 0;
    padding: 0;
}

.main {
    max-width: 1420px;
}

.banner {
    font-family: 'Merriweather', serif;
    background: rgba(140, 137, 137, 0.8)url('../images/Banner\ Image.png');
    border-radius: 16px;
    height: 600px;
    filter: brightness(100%);
    background-blend-mode: darken;
    margin-left: 120px;
    margin-top: 30px;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 170px;

}

.banner-des {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    width: 600px;
    font-size: 72px;
    font-weight: 900;
    padding-left: 355px;
    line-height: 95px;
    padding-top: 25px;

}

.holiday-section {
    font-family: 'Inter', sans-serif;
}

.parcentage {
    /* display: block; */
    justify-content: center;
}

.holiday-parcentage {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
}

.holiday-deals {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 10px;
}

.categories {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}

.new-year-img {
    display: block;
    width: 802.9px;
    height: 500px;
    margin-left: auto;
    /* -right: 200px; */
    text-align: justify;
    margin-right: auto;
    /* justify-content: end; */

}

.party-div {
    display: flex;
    /* justify-content: space-around; */
    background: rgba(86, 84, 84, 0.8) url('../images/Vectorrr.png');
    border-radius: 16px;
    height: 600px;
    margin-left: 120px;
    margin-top: 100px;
    margin-bottom: 90px;
    background-repeat: no-repeat;
    filter: brightness(100%);
    background-blend-mode: darken;
    /* fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
}

.mid-party {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    padding: 126px 100px 10px 126px;
    letter-spacing: 7.04px;
}

.party-descriptiion {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 30px 40px 50px 126px;

}

.join-button {
    /* color: #FFF; */
    /* text-align: center; */
    font-family: Inter;
    font-size: 20px;
    margin-left: 158px;
    border: none;
    font-weight: 700;
    /* mix-blend-mode: multiply; */
}

/* .button-span{
    color:white;
}  */

.group-img {
    width: 319.83px;
    height: 464.662px;
    padding-right: 120px;
    padding-top: 68px;
    flex-direction: column;

}

.shop-box {

    margin-top: 30px;
    border-radius: 16px;
    /* border-bottom-left-radius: 16px; */
    /* border-bottom-right-radius: 16px; */
    max-width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-left: 120px;
    margin-bottom: 90px;
}

.shop-info {
    padding-top: 80px;
}

.new {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.date {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.time {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.span {
    color: #F00;
}

.btn {
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: none;
    margin-left: 570px;
    margin-top: 50px;
}

.btn-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.new-offer {
    display: flex;
    gap: 100px;
    margin-left: 120px;
    margin-bottom: 100px;
}

.offer {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.offer-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.offer-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
}

.ellipse-border {
    border-radius: 463px;
    border: 15px solid #F00;
    margin-right: 100px;
}

.ellipse {
    width: 364.844px;
    height: 364.844px;
    padding: 40px;

}

.sell-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.product-details {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 20px;
}

.group-image {
    width: 140px;
    height: 140px;
}



.function-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 30px;
}

.holi-sale {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 30px;
}

.holi-color {
    color: red;
}

.sale-des {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-left: 266px;
    margin-right: 266px;
    margin-bottom: 50px;
}

.gifts {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-left: 120px;
    padding-bottom: 30px;
}

.port-text {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-left: 120px;
    padding-bottom: 30px;
}

.port-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 120px;
    padding-bottom: 30px;
    padding-right: 400px
}

.port-img {
    padding-left: 120px;
    padding-right: 20px;
    padding-bottom: 80px;
    justify-content: space-between;
}

.port-img:hover {
    box-shadow: 3px;
}

.sub-box {
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-left: 120px;
    padding-right: 50px;
    margin-bottom: 60px;
}

.sub-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 40px;
}

.sub-des {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.img-group {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    padding-left: 550px;
    padding-bottom: 40px;
    padding-top: 40px;

}

.email-box {
    width: 300px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    background: white;
    border: none;
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}

.sub-button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 150px;
    height: 60px;
    padding-left: 0px;
    border: none;
}

.email-btn {
    /* justify-content: center; */
    text-align: center;
    padding-top: 50px;
}

.subscribe-btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

footer {
    background-color: #070211;
    height: 650px;
}

.upper-foot {
    display: flex;
    justify-content: space-around;
}

.address {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-top: 120px;

    /* 166.667% */
}

ul {
    padding-top: 100px;
}

.li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;

    /* 166.667% */
}

hr {
    width: 1020px;
    margin-left: 250px;
    color: #FFFFFF26;
    margin-top: 50px;
    /* height: 1px; */
}

.image-div {
    text-align: center;
    word-spacing: 20px;
    margin-top: 90px;
}

.copy-div {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
}

.copy {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}